header {
    display: flex;
    position: sticky;
    height: 150px;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
body {
    margin: 0;
    padding: 0;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#home-button {
    display: flex;
    height: 40px;
    width: auto;
    margin-left: 2%;
}

#home-button a {
    display: flex;
    height: 40px;
    width: auto;
}

#Logo {
    display: flex;
    height: 80px;
    width: auto;
}

#Logo a {
    display: flex;
    height: 80px;
    width: auto;
}

#contact {
    display: flex;
    height: 40px;
    width: auto;
    margin-right: 5%;
}

#contact a {
    display: flex;
    height: 40px;
    width: auto;
}

#car1,
#car2,
#car3,
#car4,
#car5,
#car6 {
    height: 200px;
    width: auto;
    display: inline-block;
    padding-right: 75px;
    padding-left: 100px;
    margin-top: 1%;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    padding: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}
p {
    text-align: center;
}
.car1-config {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.car1-config img {
    display: flex;
    justify-content: left;
    width: 550px;
    height: auto;
    margin-left: 10%;
}
#color-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-right: 25%;
}
.color-button {
    width: 80px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid black;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}
a {
    text-decoration: none;
}
footer {
    margin-top: 2%;
}
.contact {
    padding: 20px;
    text-align: center;
}

.contact h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.contact p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

.contact-form label,
.contact-form input,
.contact-form textarea,
.contact-form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #45a049;
}
@media (max-width: 768px) {
    .contact-form {
        max-width: 100%;
        padding: 0 20px;
    }
}